* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: roboto ;
    src: url(./Roboto-Regular.ttf);
}

@font-face {
    font-family: chunk;
    src: url(./assets/fonts/Chunk.ttf);
}

body{
    font-family: roboto;
}
h1 {
    font-family: chunk;
}

#background_foreach{
    padding: 5px;
    background-color: red;
}

#header_foreach {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: pink;
}

